@font-face {
    font-family: "PC-9900 V2 Regular";
    src: url("resources/font/pc-9900-v2.ttf") format("truetype");
}
@font-face{
    font-family: "Ac437_SperryPC_8x16";
    src: url("resources/font/Ac437_SperryPC_8x16.ttf") format("truetype");
}

@font-face{
    font-family: "Px437_SperryPC_8x16";
    src: url("resources/font/Px437_SperryPC_8x16.ttf") format("truetype");
}


html{
    height:100vh;
    font-family: "Px437_SperryPC_8x16";
    
}
body{
    height:100vh;
    background-color: black;
    color:white;
    height:100vh;
    margin: 0px;
    overflow:hidden;
}

#game-container{
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow:hidden;
    
}

#room{
    grid-column: 3 /6;
    grid-row: 2/3;
}

#left-panel{
    grid-column: 2 /3;
    grid-row: 2/3;
}

#smartphone-button{
    grid-column: 2 / 3;
    grid-row: 3/4;
    height: 30px;
    width: 60px;
}

#room-background{
    max-width: 700px;
    padding: 50px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}




.grid-item {
    width: 48px;
    height: 30px;
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
   
}

.grid-item:hover {
    background-color:grey
}

#grid-container2{
    display:grid;
    position: relative;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(16, 1fr);
    background-color: blue;
    width: 768px;
    height: 360px;
    margin-left: 50px;
    background-color: #221e1e;
    border: 3px solid #d4ca97;   
}

#left-wall{
    grid-row: 1 / 13;
    grid-column: 1 / 9;
    background-color: #7b7b7b;
    z-index: 1;
}

#right-wall{
    grid-row: 1 / 13;
    grid-column: 9 / 17;
    background-color: #a6a6a6;
    z-index: 1;
}


#right-table{
    grid-row: 10/14;
    grid-column: 12 / 16;
    cursor: pointer;
    display:flex;
    max-width: 192px;
    z-index: 3;
}


#on-table{
    grid-row: 8/10;
    grid-column: 13 / 16;
    cursor: pointer;
    display:flex;
    max-width: 48px;
    z-index: 3;
}

#left-table{
    grid-row: 11/13;
    grid-column: 4 / 6;
    cursor: pointer;
    display:flex;
    max-width: 144px;
    z-index: 3;
}

#on-left-table{
    grid-row: 9/11;
    grid-column: 4 / 6;
    cursor: pointer;
    display:flex;
    max-width: 96px;
    z-index: 3;
}

#on-shelf1{
    grid-row: 5/6;
    grid-column: 1 / 2;
    cursor: pointer;
    display:flex;
    max-width: 48px;
    z-index: 3;
}

#on-shelf2{
    grid-row: 5/6;
    grid-column: 2 / 3;
    cursor: pointer;
    display:flex;
    max-width: 48px;
    z-index: 3;
}

#on-shelf3{
    grid-row: 5/6;
    grid-column: 3 / 4;
    cursor: pointer;
    display:flex;
    max-width: 48px;
    z-index: 3;
}

#book-shelf1{
    grid-row: 5/6;
    grid-column: 6 / 8;
    cursor: pointer;
    display:flex;
    max-width: 96px;
    z-index: 3;
}

#book-shelf2{
    grid-row: 7/8;
    grid-column: 6 / 8;
    cursor: pointer;
    display:flex;
    max-width: 96px;
    z-index: 3;
}




#ceiling-table{
    grid-row: 1/3;
    grid-column: 8 / 10;
    cursor: pointer;
    display:flex;
    max-width: 196px;
    z-index: 3;
}

#shelf{
    grid-row: 6/13;
    grid-column: 1 / 4;
    cursor: pointer;
    display:flex;
    max-width: 144px;
    z-index: 3;
}

#central-furniture{
    grid-row: 12/13;
    grid-column: 7 / 11;
    cursor: pointer;
    display:flex;
    max-width: 192px;
    z-index: 3;
    display:flex;
    flex-direction:column;

}

#central-furniture > img{
    align-self: flex-end;
    position: relative;
   
}

#window{
    grid-row: 4/9;
    grid-column: 11 / 16;
    cursor: pointer;
    display:flex;
    max-width: 240px;
    z-index: 2;
    background-color: #151d45;
}

.grid-slots{
   pointer-events: none;
}

.grid-slots-on{
    /*border: 2px solid white;*/
    outline: 2px dashed white;
    /*border-style:dashed;*/
    pointer-events: auto;

}

#furni-selection-window{
    position: absolute;
    display: flex;
    flex-direction:column;
    padding: 10px;
    top: 400px;
    left: 20px;
    background-color: red;
    width: 700px;
    height: 100px;
    z-index: 10;
    visibility:hidden;
}

.furni-cards{
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    color: black;
}

.empty-furni{
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    color: black;
}



#close-popup-button{
    color:white;
}

#furni-list{
    display:flex;
    align-items: center;
}

#popup-header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

#main-character{
    width: 96px;
    height: auto;
    position: absolute;
    z-index: 2;
    transform: scaleX(-1);
    top:255px;
    right: 300px;
}

#character-pillow{
    position:absolute;
    z-index: 2;
    top: 348px;
    right: 320px;
}

#current-date{
  
}

#money{
    margin-right: 40px;
}

#edit-button{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 50px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    font-family: "Px437_SperryPC_8x16";
    padding-top: 5px;
}

#edit-button:hover{
    background-color: darkblue;
}


#smartphone-menu{
    position: absolute;
    top: 15%;
    left: 10%;
    height: 600px;
    width: auto;
    z-index: 2;
}

#smartphone-screen{
    background-color: grey;
    height: 512px;
    z-index: 3;
    position: absolute;
    width: 305px;
    top: 30%;
    left: 16%;
}

#smartphone-container{
    position: relative;
    left: 50%;
    top: 400%;
    transition: 1s ease-in-out;
    z-index: 11;
}

#smartphone-container.visible{
    top: 35%;
}


 #smartphone-button{
   
    flex-direction: column;
    align-self: flex-end;
    margin-left: 50px;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    font-family: "Px437_SperryPC_8x16";
    padding-top: 5px;
   
 }

 #smartphone-button:hover{
    background-color: darkblue;
 }

#edit-buttons-panel{
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
}

#current-activity-window{
    grid-column: 5/6;
    grid-row: 3/4;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 300px;
    padding: 15px;
    font-family: "Px437_SperryPC_8x16";
    background-color: #221e1e;
    border: 3px solid #d4ca97;  
    font-size: 15px; 
    
}

#activity-progress-bar-div{
    width: 100%;
    background-color: #534e43;
}

#activity-progress-bar{
    width: 1%;
    height: 20px;
    background-color: #bebab2;
    border-radius: 10px;

}

#top-bar{
    position: sticky;
    width: 100vw;
    height: 40px;
    background-color: #d4ca97;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

#top-left{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    width: 600px;
    color: black;
}

#top-right{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    color: black;
    width: 250px;
    padding-right: 30px;
    
}

#shop-window{
    position: absolute;
    width: 450px;
    height: 600px;
    top: 15%;
    left: 2%;
    background-color: #221e1e;
    border: 3px solid #d4ca97;   
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    visibility:hidden;
    
}


#shop-window-title{
    width: 100%;
    height: 30px;
    background-color: #d4ca97;
    position: sticky;
    display: flex;
    justify-content: center;
    color: #221e1e;
    grid-column: 1/7;
    grid-row: 1/2;
    align-items: center;
}

#room-window-title{
    width: 773px;
    height: 30px;
    background-color: #d4ca97;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #221e1e;
    margin-left: 50px;
    
}

#shop-left-panel{
    grid-row:1/10;
    grid-column: 1/3;
    background-color: #221d1d;
    border-right: 3px solid #d4ca97;
    margin-top: 30px;
    padding-top: 25px;
    display:flex;
    flex-direction: column;
}

.shop-section{
    font-size: 12px;
    height: 15px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
   
}

.shop-section-name{
    font-size: 12px;
    height: 15px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
  
}

.shop-section-name:hover{
    background-color: #d4ca97;
    color: #221d1d;
}



#shop-top-panel{
    grid-row: 1/6;
    grid-column:3/7;
    background-color: #221d1d;
    border-bottom: 3px solid #d4ca97;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-top: 30px;
}

#furniture-shop-name{
    grid-row: 1/2;
    grid-column: 2/5;
    font-size: 12px;
    display: flex;
    flex-direction:row;
    align-items:end;
    justify-content: center;
    margin-bottom: 10px;
}

#furniture-shop-img{
    grid-row: 2/4;
    grid-column: 2 / 5;
    display: flex;

    
}

#furniture-shop-img > img{
    align-self: center;
    justify-self: center;
}

#furniture-shop-price-bonus{
    grid-row: 4/5;
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 15px;
}

#furniture-shop-price-section{
    display: flex;
    flex-direction: row;
    margin-right: 30px;
}

#furniture-shop-price-tag{
    padding-right: 15px;
    color: #84a699;
}

#furniture-shop-bonus-section{
    display: flex;
    flex-direction: row;
}

#furniture-shop-bonus-tag{
    padding-right: 15px;
    color: #84a699;
}

#furniture-shop-description-section{
    grid-row: 5/7;
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 13px;
}

#furniture-shop-description-tag{
    padding-right: 15px;
    color: #84a699;
}



#furniture-shop-req-section{
    grid-row: 7/8;
    grid-column: 1/6;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 5px;
}

#furniture-shop-req-tag{
    padding-right: 15px;
    color: #84a699;
}

#furniture-shop-buy-btn-section{
    grid-row: 8/9;
    grid-column: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#furniture-shop-buy-btn{
    margin-bottom: 15px;
    width: 130px;
    border: none;
    background-color: #84a699;
    height: 30px;
    visibility: hidden;
}

#furniture-shop-buy-btn:hover{
    background-color: #3b6d5a;
    cursor: pointer;
}

.shop-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12px;
    justify-content:space-between;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.shop-item:hover{
    background-color: #d4ca97;
    color: #221e1e;
    cursor: pointer;
}

.top-button{
    height:100%;
    align-items: center;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
}

.top-button:hover{
    background-color: #221e1e;
    color: #d4ca97;
    cursor: pointer;
}


#shop-bottom-panel{
    grid-row: 6/9;
    grid-column:3/7;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}


/* job window classes*/

#job-window{
    position: absolute;
    width: 450px;
    height: 480px;
    top: 25%;
    left: 2%;
    background-color: #221e1e;
    border: 3px solid #d4ca97;   
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    visibility:hidden;
}


#job-window-name{
    width: 100%;
    height: 30px;
    background-color: #d4ca97;
    position: sticky;
    display: flex;
    justify-content: center;
    color: #221e1e;
    grid-column: 1/7;
    grid-row: 1/2;
    align-items: center;
}

#job-window-left-panel{
    grid-row:1/10;
    grid-column: 1/3;
    background-color: #221d1d;
    border-right: 3px solid #d4ca97;
    margin-top: 30px;
    padding-top: 25px;
    display:flex;
    flex-direction: column;
}


.job-section{
    font-size: 12px;
    height: 15px;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
   
}

.job-section-name{
    font-size: 12px;
    height: 15px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
  
}

.job-section-name:hover{
    background-color: #d4ca97;
    color: #221d1d;
}


.job-left-panel{
    font-size: 12px;
    height: 15px;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;
}

.job-section-sub-menu{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

#job-window-right-panel{
    grid-row:1/10;
    grid-column: 3/7;
    background-color: #221d1d;
    padding: 25px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);

}

#job-img{
    background-color: red;
    grid-row: 1/3;
    grid-column: 1/3;
}

#job-detail-title-section{
    background-color: blue;
    grid-row: 1/2;
    grid-column: 3/6;
}

#job-detail-pay-section{
    background-color: green;
    grid-row: 2/3;
    grid-column: 3/6;
}

#job-detail-req-section{
    background-color: yellow;
    grid-row: 3/5;
    grid-column: 1/6;
}

#job-detail-desc-section{
    background-color: grey;
    grid-row: 5/7;
    grid-column: 1/6;
}

#job-apply-btn-section{
    background-color: orange;
    grid-row: 8/9;
    grid-column: 2/5;
}

