
html{
    height:100vh;
}
body{
    height:100vh;
    background-color: black;
    color:white;
    height:100%;
}

#game-container{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#room{
    grid-column: 3 /6;
    grid-row: 2/3;
}

#left-panel{
    grid-column: 2 /3;
    grid-row: 2/3;
}

#room-background{
    max-width: 700px;
    padding: 50px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}




.grid-item {
    width: 48px;
    height: 30px;
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
   
}

.grid-item:hover {
    background-color:grey
}

#grid-container2{
    display:grid;
    position: relative;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(16, 1fr);
    background-color: blue;
    width: 768px;
    height: 360px;
    margin-left: 50px;
}

#left-wall{
    grid-row: 1 / 13;
    grid-column: 1 / 9;
    background-color: #7b7b7b;
    z-index: 1;
}

#right-wall{
    grid-row: 1 / 13;
    grid-column: 9 / 17;
    background-color: #a6a6a6;
    z-index: 1;
}


#right-table{
    grid-row: 10/13;
    grid-column: 12 / 15;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 144px;
    z-index: 3;
}

#left-table{
    grid-row: 11/13;
    grid-column: 4 / 6;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 144px;
    z-index: 3;
}

#on-left-table{
    grid-row: 9/11;
    grid-column: 4 / 6;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 96px;
    z-index: 3;
}

#on-shelf1{
    grid-row: 5/6;
    grid-column: 1 / 2;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 48px;
    z-index: 3;
}

#on-shelf2{
    grid-row: 5/6;
    grid-column: 2 / 3;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 48px;
    z-index: 3;
}

#on-shelf3{
    grid-row: 5/6;
    grid-column: 3 / 4;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 48px;
    z-index: 3;
}

#book-shelf1{
    grid-row: 5/6;
    grid-column: 6 / 8;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 96px;
    z-index: 3;
}

#book-shelf2{
    grid-row: 7/8;
    grid-column: 6 / 8;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 96px;
    z-index: 3;
}


#on-table{
    grid-row: 8/10;
    grid-column: 13 / 16;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 48px;
    z-index: 3;
}


#ceiling-table{
    grid-row: 1/3;
    grid-column: 8 / 10;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 192px;
    z-index: 3;
}

#shelf{
    grid-row: 6/13;
    grid-column: 1 / 4;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 144px;
    z-index: 3;
}

#central-furniture{
    grid-row: 11/13;
    grid-column: 7 / 11;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 192px;
    z-index: 3;
}

#window{
    grid-row: 4/9;
    grid-column: 11 / 16;
    border: 1px solid white;
    cursor: pointer;
    display:flex;
    max-width: 240px;
    z-index: 2;
    background-color: #151d45;
}

#furni-selection-window{
    position: absolute;
    display: flex;
    flex-direction:column;
    padding: 10px;
    top: 400px;
    left: 20px;
    background-color: red;
    width: 700px;
    height: 100px;
    z-index: 10;
    visibility:hidden;
}

.furni-cards{
    height: 50px;
    width: 50px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
    color: black;
}

#close-popup-button{
    color:white;
}

#furni-list{
    display:flex;
    align-items: center;
}

#popup-header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}